.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f5f8;
  padding: 2rem;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  max-width: 50rem;
  width: 100%;
  background-color: #ffffff;
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.image {
  width: 15rem;
  height: 15rem;
  margin-right: 2rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #dbe2ef;
}

.info {
  margin-bottom: 2rem;
}

.info label {
  font-weight: bold;
}

.abilities {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.abilities label {
  font-weight: bold;
}

.abilities ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.abilities li {
  margin-bottom: 1rem;
  color: #2b2d42;
}
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

